# Dependencias
node_modules/

# Archivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Directorios de construcción
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo